.boxes-cnt {
  @media only screen and (max-width: 1400px) {
    padding: 60px 50px !important;
  }

  @media only screen and (max-width: $mediaStepSemiMobile) {
    padding: 30px !important;
  }


  .boxes {

    > .row {
      padding-top: 30px;

      @media only screen and (max-width: $mediaStepTablet) {
        padding-top: 0;
      }

      .col-12 {
        @media only screen and (max-width: $mediaStepTablet) {
          padding: 5px;
        }
      }
    }

    .buttons {
      @media only screen and (max-width: $mediaStepSemiMobile) {
        a {
          margin: 0 auto;
          margin-bottom: 10px;
        }
      }
    }

    .box {
      border: 1px solid #D3D3D3;
      width: 100%;
      padding-top: 100%;
      position: relative;
      background: #F1F1F1;

      @media only screen and (max-width: $mediaStepMobile) {
        margin-bottom: 20px;
        padding-top: 0;
        text-align: center;
      }

      @media only screen and (max-width: $mediaStepSemiMobile) {
        margin-bottom: 10px;
      }

      .text {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 20px;

        @media only screen and (max-width: $mediaStepMobile) {
          position: relative;
        }

        .label {
          display: block;
          position: relative;
          font-size: 19px;
          color: #1A181B;
          line-height: 23px;
          padding: 0;
          margin: 0;
          padding-bottom: 10px;
          margin-bottom: 10px;

          @media only screen and (max-width: $mediaStepMobile) {
            font-size: 16px;
          }

          @media only screen and (max-width: $mediaStepSemiMobile) {
            font-size: 20px;
          }

          &:after {
            content: "";
            background: #C1915F;
            bottom: 0;
            left: 0;
            width: 36px;
            height: 3px;
            display: block;
            position: absolute;

            @media only screen and (max-width: $mediaStepMobile) {
              left: 50%;
              margin-left: -18px;
            }
          }
        }

        .val {
          display: block;
          position: relative;
          font-size: 23px;
          line-height: 34px;
          color: #1A181B;
          white-space: nowrap;

          span {
            font-size: 17px;
            line-height: 20px;
            display: block;
          }

          @media only screen and (max-width: $mediaStepMobile) {
            font-size: 18px;
          }

          @media only screen and (max-width: $mediaStepSemiMobile) {
            font-size: 23px;
            line-height: 34px;
          }
        }

        .val-list {
          padding: 0;
          margin: 0 auto;
          list-style: none;
          columns: 2;
          -webkit-columns: 2;
          -moz-columns: 2;

          @media only screen and (max-width: $mediaStepTablet) {
            columns: 1;
            -webkit-columns: 1;
            -moz-columns: 1;
          }

          li {
            position: relative;
            padding-left: 20px;

            @media only screen and (max-width: $mediaStepSemiMobile) {
              text-align: left;
            }

            &:before {
              content: "";
              position: absolute;
              left: 0;
              top: 8px;
              width: 8px;
              height: 8px;
              border-radius: 50%;
              background: $clGold;
            }
          }
        }
      }

      &.long {
        padding-top: 45.30%;

        @media only screen and (max-width: $mediaStepTablet) {
          padding-top: 0;
          position: relative;

          .text {
            position: relative;
          }
        }
      }
    }

  }

}


.main-text-inv {
  background-image: url('../images/inv-bg1.png');

  .top-header {
    padding: 30px 15px;
    background: #DBDBDB;

    .sec-title {
      font-size: 36px;
      letter-spacing: 4px;
    }
  }

  .text {
    padding-top: 70px;
    padding-bottom: 70px;

    @media only screen and (max-width: $mediaStepSemiMobile) {
      padding-top: 30px;
      padding-bottom: 30px;
    }

    h3 {
      font-size: 24px;
      font-weight: bold;
      font-family: $fontHeader;
      padding-bottom: 30px;
    }

    p {
      font-size: 19px;
      padding-bottom: 20px;
      font-weight: 400;
    }


    .left {
      padding-right: 80px;
    }

    .right {
      padding-left: 80px;
    }

    .left, .right {
      @media only screen and (max-width: $mediaStepSemiMobile) {
        padding-left: 30px;
        padding-right: 30px;
      }
    }
  }

}

.timeline {
  background-image: url('../images/inv-bg1.png');
  background-repeat: repeat-y;
  background-size: 100% auto;
  background-position: top center;

  .top {
    padding: 15px;
    padding-top:20px;
    background: #DBDBDB;

    > .container {
      max-width: 800px;
    }
  }

  .timeline-box {
    padding-top: 50px;
    padding-bottom: 100px;
    position: relative;

    &:before {
      width: 1px;
      height: calc(100% - 250px);
      top: 50px;
      left: 50%;
      margin-left: -1px;
      background: #19171B;
      content: " ";
      position: absolute;

      @media only screen and (max-width: $mediaStepSemiMobile) {
        display: none;
      }
    }

    .event-cnt {
      display: none;

      &.active {
        display: flex;
      }
    }


    .event {
      padding: 50px;
      padding-top: 0;
      position: relative;

      @media only screen and (max-width: $mediaStepSemiMobile) {
        padding: 30px;
        padding-top: 0;
      }

      &:before {
        content: "";
        width: 46px;
        height: 46px;
        background: $clGold;
        border-radius: 50%;
        position: absolute;
        top: 0;
        left: -23px;

        @media only screen and (max-width: $mediaStepSemiMobile) {
          display: none;
        }
      }

      p {
        font-size: 19px;
        padding: 0;
        margin: 0 auto;
        text-align: left;

        @media only screen and (max-width: $mediaStepSemiMobile) {
          text-align: left !important;
        }
      }

      .img {
        border: 5px solid #fff;
        -webkit-box-shadow: 5px 5px 10px -2px rgba(0, 0, 0, 0.35);
        -moz-box-shadow: 5px 5px 10px -2px rgba(0, 0, 0, 0.35);
        box-shadow: 5px 5px 10px -2px rgba(0, 0, 0, 0.35);
        max-width: 100%;
        margin: 20px auto;
        margin-left: 0;
        display: block;
        max-width: 330px;

        @media only screen and (max-width: $mediaStepSemiMobile) {
          margin: 0 auto !important;
          margin-bottom: 30px !important;
        }

        &:hover {
          opacity: .9;
        }
      }

      .title {
        font-size: 36px;
        line-height: 40px;
        font-weight: 400;
        font-family: $fontHeader;
        margin: 0 auto;
        padding-bottom: 10px;

        @media only screen and (max-width: $mediaStepSemiMobile) {
          text-align: left !important;
        }

        span {
          font-size: 24px;
        }
      }
    }

    .justify-content-start {
      .event:before {
        left: auto;
        right: -23px;
      }

      p {
        text-align: right;
      }

      .title {
        text-align: right;
      }

      .img {
        margin-left: auto;
        margin-right: 0;
      }
    }

    .show-more {
      padding-top: 50px;

      .btn {
        margin: 0 auto;
        min-width: 360px;
      }
    }

  }
}