.offer-main-top {
  background: #191919;
  position: relative;
  background-image: url("../images/offer-top-bg.png");

  .top-sec {
    padding-top: 50px;
    padding-bottom: 30px;
    margin-bottom: 50px;
    position: relative;

    .title {
      font-size: 36px;
      color: #fff;
      font-family: $fontHeader;
      letter-spacing: 4px;
      font-weight: bold;
      padding-bottom: 10px;

      @media only screen and (max-width: $mediaStepSemiMobile) {
        font-size: 30px;
      }
    }

    .subtitle {
      color: #BCBCBC;
      font-size: 20px;
      font-weight: 400;

      @media only screen and (max-width: $mediaStepSemiMobile) {
        font-size: 18px;
      }
    }

    &:after {
      width: 96px;
      height: 3px;
      content: "";
      display: block;
      position: absolute;
      left: 50%;
      bottom: 0;
      margin-left: -48px;
      background: #C1915F;
    }
  }

  .bottom-sec {
    $minH: 554px;
    background: #fff;
    margin-bottom: 20px;
    padding: 0;
    position: relative;
    min-height: $minH;
    overflow: hidden;
    max-height: $minH;

    @media only screen and (max-width: $mediaStepSemiMobile) {
      display: none;
    }

    .nav-top {
      position: absolute;
      z-index: 2;
      width: 100%;
      padding: 0;
      margin: 0 auto;
      padding-top: 20px;
      display: none;

      &.active {
        display: block;
      }

      button.back {
        position: absolute;
        top: 20px;
        left: 20px;
        display: block;
        line-height: 50px;
        width: 50px;
        padding: 0;
        margin: 0 auto;
        background: #F1F1F1;
        border: 0;
        color: $clGold;
        font-size: 30px;
        cursor: pointer;

        &:hover {
          background: $clGold;
          color: #F1F1F1;
        }
      }

      .nav-areas {
        width: 500px;
        display: block;
        margin: 0 auto;

        .labels {
          display: -webkit-box;
          display: -moz-box;
          display: -ms-flexbox;
          display: -webkit-flex;
          display: flex;
          -webkit-flex-flow: row nowrap;
          align-items: center;
          justify-content: center;

          .box {
            display: block;
            padding: 0;
            margin: 0 2px;
            width: 34%;

            > span {
              width: 100%;
              line-height: 50px;
              padding: 0;
              display: block;
              text-transform: uppercase;
              background: #F1F1F1;
              color: #989898;
              font-weight: 400;
              display: block;
              text-align: center;
            }

            &:first-child, &:nth-child(2){
              cursor: pointer;

              &:hover{
                > span {
                  color: $clGold;
                }
              }
            }

            &.name {
              display: none;

              span {
                font-weight: bold;
                color: #130F11;
              }
            }
          }

        }
      }
    }


    ul#floors {
      padding: 0;
      margin: 0;
      height: $minH;
      overflow: hidden;

      &.active {
        display: block;
      }

      > li {
        padding: 0;
        margin: 0;
        position: relative;

        &.active {
          display: block;
        }

        .floor-map {
          position: relative;

          img {
            max-width: 100%;
          }

          .labels-bottom {
            position: absolute;
            bottom: 20px;
            left: 20px;
            padding: 0;
            margin: 0 auto;

            ul {
              padding: 0;
              margin: 0 auto;

              li {
                font-size: 16px;
                line-height: 22px;
                color: #757575;
                padding: 0;
                margin: 0 auto;
                display: inline-block;
                padding-left: 30px;
                margin-right: 15px;
                position: relative;

                &:before {
                  width: 22px;
                  height: 22px;
                  content: "";
                  position: absolute;
                  left: 0;
                  top: 0;
                }

                span {
                  color: #000;
                  font-weight: bold;
                }

                &:last-child {
                  margin-right: 0;
                }

                &.stat-1 {
                  &:before {
                    background: #FFCC63;
                  }
                }

                &.stat-2 {
                  &:before {
                    background: #23AD7B;
                  }
                }

                &.stat-3 {
                  &:before {
                    background: #26303D;
                  }
                }

                &.stat-4 {
                  &:before {
                    background: #FF714F;
                  }
                }
              }
            }
          }
        }

        .flats-list {
          display: block;
          width: 100%;
          height: $minH;
          padding: 0;
          margin: 0 auto;

          > li {
            margin: 0 auto;
            height: 100%;
            padding: 120px 80px 20px 20px;

            .flat-details {

              .left {
                .floor-cnt-img {
                  margin-top: 80px;
                  position: relative;

                  .floor-mini {
                    max-width: 100%;
                  }

                  &:after {
                    content: "";
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    border: 2px solid #fff;
                  }
                }
              }

              .right {
                border-left: 1px solid $clGold;

                img {
                  max-height: 400px;
                  margin: 0 auto;
                }

                .details {

                  > ul {
                    margin: 0 auto;
                    padding: 0;
                    margin-bottom: 40px;

                    li {
                      color: #575757;
                      padding-bottom: 7px;
                      white-space: nowrap;

                      span {
                        font-weight: bold;
                        color: #130F11;
                      }
                    }
                  }

                  .name {
                    font-size: 30px;
                    color: #130F11;
                    font-weight: bold;
                    padding-bottom: 20px;
                  }

                  button, a {
                    display: block;

                    &.contact-modal {
                      width: 100%;
                      padding: 10px 20px;
                      margin-bottom: 20px;
                      white-space: nowrap;
                    }

                    &.add-favorites, &.download-floor {
                      color: #000;
                      font-size: 14px;
                      font-weight: bold;
                      line-height: 25px;
                      border: 0;
                      padding: 0;
                      margin: 0;
                      box-sizing: border-box;
                      width: 100%;
                      text-align: left;
                      background: transparent;

                      .fa {
                        color: $clGold;
                        padding-right: 15px;
                      }

                      &:hover {
                        color: $clGold;
                      }
                    }

                    &:hover {
                      text-decoration: none;
                    }
                  }
                }
              }
            }
          }
        }

      }
    }

    .building {
      display: none;

      &.active {
        display: block;
      }

      img {
        max-width: 100%;
      }
    }

  }

  span.icon-section {
    width: 40px;
    height: 20px;
    position: absolute;
    bottom: -20px;
    left: 50%;
    margin-left: -20px;
    overflow: hidden;

    &:after {
      width: 40px;
      height: 40px;
      background: #000;
      position: absolute;
      bottom: 8px;
      left: 0;
      content: "";
      transform: rotate(45deg);
    }
  }
}


.price-range {
  padding-top: 30px;
  padding-bottom: 30px;

  .cols {
    margin-top: 20px;
    margin-bottom: 30px;

    .box {
      text-align: center;
      border-right: 1px solid #F1F1F1;
      padding-top: 5px;
      padding-bottom: 5px;

      @media only screen and (max-width: $mediaStepSemiMobile) {
        padding-bottom: 30px;
      }

      .label {
        padding-bottom: 25px;
        font-size: 16px;
        color: #1A181B;
      }

      .price-range-box {
        color: #757575;

        span {
          color: #BFBFBF;
          display: block;
          margin: 0 auto;
        }
      }


      &:last-child {
        border-right: 0;
      }
    }
  }

  .top {
    padding: 0;
    margin: 0 auto;

    h2 {
      font-style: italic;
      color: #1A181B;
      font-size: 19px;

      span {
        color: #757575;
      }
    }
  }

  .bottom {
    h3 {
      font-size: 16px;
      font-weight: 400;
      margin: 0 auto;
      padding: 0;
      padding-bottom: 20px;
    }

    p {
      font-size: 12px;
      color: #BFBFBF;
      font-style: italic;
      padding: 0;
      margin: 0 auto;
    }
  }


}


.table-offer-cnt {
  background: #F2F2F2;
  padding-top: 40px;
  padding-bottom: 90px;

  @media only screen and (max-width: $mediaStepSemiMobile) {
    max-width: 100%;
    overflow: scroll;
  }

  table.table-offer {
    font-size: 16px;
    max-width: 990px;
    margin: 0 auto;


    thead {
      th {
        text-transform: uppercase;
        font-weight: 400;
        border: 0;
        background-position: 90% 15px;
        vertical-align: middle;

        @media only screen and (max-width: $mediaStepSemiMobile) {
          background: none !important;
          white-space: nowrap;
        }

        &:hover {
          color: $clGold;
        }
      }
    }

    tbody {
      color: #757575;

      tr {
        -webkit-transition: all .3s;
        transition: all .3s;

        &:nth-of-type(odd) {
          background: #FFFFFF;
        }

        td {
          border: 0;
          line-height: 30px;
          vertical-align: middle;

          @media only screen and (max-width: $mediaStepSemiMobile) {
            white-space: nowrap;
          }

          &:first-child {
            width: 20px;
          }

          &:nth-child(n+2):nth-child(-n+5) {
            max-width: 150px;
            width: 150px;
          }

          &:nth-child(4) {
            max-width: 170px;
            width: 170px;
          }


          &:nth-child(5) {
            max-width: 140px;
            width: 140px;
          }

          &:nth-child(5) {
            max-width: 100px;
            width: 100px;
          }

          &:last-child {
            width: 190px;
            max-width: 190px;
            white-space: nowrap;
            text-align: left !important;
          }


          button {
            display: inline-block;

            &.pdf {
              padding: 0 7px;
              margin-right: 10px;
            }

            &.star {
              padding: 0 5px;
              color: $clGold;

              &:disabled {
                opacity: .5;
              }

              i.fa.fa-star {
                color: $clGold;
              }
            }

            &.b-border.small {
              vertical-align: middle;
              line-height: 17px;

              &:hover {
                background: $clGold;
                color: #fff;
              }
            }
          }

        }


        &:hover {
          /*
          background: $clGold;
          color:#fff;

          td{
            button{
              color: #fff;

              &.b-border{
                border-color:#fff;
              }
            }
          }
          */
        }

      }
    }


  }
}


.tooltip_floor, .tooltip_flat {
  background: #141414;
  z-index: 99999999;
  padding: 30px 20px;
  width: 200px;
  color: #fff;

  &:before {
    position: absolute;
    top: -19px;
    left: 50%;
    width: 38px;
    height: 38px;
    background: $clGold;
    border: 12px solid #fff;
    content: "";
    border-radius: 50%;
    margin-left: -19px;
  }

  .title {
    text-align: center;
    font-size: 19px;
    font-weight: bold;
    color: #D7D7D7;
    padding-bottom: 10px;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;

    li {
      padding: 0;
      margin: 0 auto;
      color: #D7D7D7;
      font-size: 16px;
      font-weight: 400;

      span {
        color: #fff;
        font-weight: bold;
      }
    }
  }
}
