.comparison {
  padding: 70px 0;
  background-image: url('../images/main-bg-1.jpg');

  @media only screen and (max-width: $mediaStepSemiMobile) {
    padding: 30px 0;
  }

  .comparison-top-title {
    max-width: 600px;

    @media only screen and (max-width: $mediaStepSemiMobile) {
      max-width: 100%;
      overflow: hidden;

      [class*='col-']{
        padding:0;
      }

    }
  }


  .bottom {
    margin-top: 30px;

    #myImageCompare {
      overflow: initial;

      .images-compare-handle {
        border: 0;
        z-index: 4;
        background: rgba(0, 0, 0, .8);
        margin-left: -18px;

        &:hover {
          background: #000;
        }
      }

      .images-compare-left-arrow {
        margin-left: -19px;
        margin-top: -7px;
      }

      .images-compare-left-arrow {
        &:after {
          background: #fff;
          content: "";
          width: 14px;
          height: 4px;
          display: block;
          position: absolute;
          top: -2px;
          left: 6px;
        }
      }

      .images-compare-right-arrow {
        margin-right: -19px;
        margin-top: -7px;
      }


      .images-compare-separator {
        background: #000;
        width: 3px;
        top: -10px;
      }


      .slide__tip2 {
        background: rgba(255, 255, 255, 0.8);
        color: #000;
        font-size: 20px;
        position: absolute;
        z-index: 99;
        width: 250px;
        top: 50%;
        left: 52%;
        padding: 15px 20px;
        opacity: 0;

        @media only screen and (max-width: $mediaStepSemiMobile) {
          position: relative;
          left: auto;
          width: 100%;
          padding: 5px 10px;
          background: #fff;
          margin: 0 auto;
          margin-bottom: 10px;
          text-align: center;
        }

      }


      .slide-animation {
        -webkit-animation: slide-down 5s;
        animation: slide-down 5s;
      }


      @-webkit-keyframes slide-down {
        0% {
          top: 50%;
          opacity: 0;
        }

        10% {
          opacity: 1;
        }

        20% {
          opacity: 1;
        }

        30% {
          opacity: 1;
        }

        40% {
          opacity: 1;
        }

        50% {
          top: 50%;
        }

        60% {
          top: 50%;
          opacity: 1;
        }

        80% {
          opacity: 0.3;
        }


        100% {
          top: 100%;
          opacity: 0;
        }
      }
    }

    .label-img {
      color: #989898;
      font-size: 18px;
      font-style: italic;

      strong {
        color: $clGold;
      }
    }


    .left {
      .quo {
        padding: 30px 50px 30px 60px;
        max-width: 380px;
        position: relative;
        margin: 0 auto;
        margin-right: 0;
        font-style: italic;

        @media only screen and (max-width: $mediaStepSemiMobile) {
          width: 100%;
        }

        &:before, &:after {
          position: absolute;
          width: 50px;
          height: 50px;
          color: $clGold;
          font-family: FontAwesome;
          font-weight: 400;
          content: " ";
          text-align: center;
          line-height: 50px;
          background-image: url('../images/icons.png');
          background-repeat: no-repeat;
          background-position: 2px -125px;
        }

        &:before {
          top: 0;
          left: 0;
        }

        &:after {
          bottom: 50px;
          right: 0;
        }

        p {
          font-size: 17px;
          font-weight: 100;
          margin-bottom: 0;

          &.author {
            padding: 0;
            margin: 0 auto;
            font-size: 12px;
            color: #717070;
            padding-top: 30px;
            font-weight: 400;
          }
        }
      }
    }

    .left {
      padding-right: 70px;

      @media only screen and (max-width: $mediaStepSemiMobile) {
        padding-right: 30px;
      }
    }

    .right {
      padding-left: 70px;
      padding-top: 30px;


      @media only screen and (max-width: $mediaStepSemiMobile) {
        padding-left: 30px;
      }

      .read-more {
        @media only screen and (max-width: $mediaStepSemiMobile) {
          margin: 0 auto;
          max-width: 100%;
          padding: 10px 20px;
        }
      }
    }


  }
}