.contact-map {

  .baner-cnt {
    padding: 0;

    .baner {
      background-image: url("../images/chlebova-baner1.png");
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;
      padding-top: 100%;
      display: block;
    }
  }

  .map-cnt {
    padding: 0;
    background: #F3F0EB;

    #map {
      position: absolute;
      width: 100%;
      height: 100%;
    }
  }
}