.contact-section {
  border-bottom: 1px solid $clGold;
  background-image: url('../images/main-bg-1.jpg');
  $inputBorderColor: #D3D3D3;
  $inputBackgroundColor: #F3F3F3;
  $textColor: #1A181B;

  .row {
    @media only screen and (max-width: $mediaStepSemiMobile) {
      max-width: 100%;
      margin: 0 auto;
    }
  }


  .contact-page-title {
    margin-bottom: 30px;
    padding-bottom: 30px;
    position: relative;

    &:after {
      width: 96px;
      height: 3px;
      content: "";
      display: block;
      position: absolute;
      left: 50%;
      bottom: 0;
      margin-left: -48px;
      background: $clGold;
    }

    .title {
      text-transform: uppercase;
      font-weight: bold;
      font-family: $fontHeader;
      padding-bottom: 10px;
      letter-spacing: 4px;
      font-size: 36px;

      @media only screen and (max-width: $mediaStepSemiMobile) {
        font-size: 30px;
      }

    }

    p {
      color: #989898;
      font-size: 24px;
      line-height: 30px;
      width: 600px;
      margin: 0 auto;

      @media only screen and (max-width: $mediaStepSemiMobile) {
        font-size: 18px;
        width: 100%;
      }
    }
  }

  > .title {
    padding: 15px;
    background: #DBDBDB;

    span {
      color: $clGold;
    }
  }

  > .container {
    padding: 40px 0 70px 0;

    @media only screen and (max-width: $mediaStepSemiMobile) {

      padding: 40px 0;
    }
  }

  .subtitle {
    color: #989898;
    font-size: 24px;
    padding-bottom: 25px;
    margin-bottom: 0;

    @media only screen and (max-width: $mediaStepSemiMobile) {
      padding-left: 30px;
      padding-bottom: 20px;
      padding-top: 30px;
    }
  }


  .left-col {

    .title {
      font-size: 18px;
      text-transform: uppercase;
      font-weight: bold;
      margin-bottom: 30px;
    }

    .contact-details {
      background: $inputBackgroundColor;
      border: 1px solid $inputBorderColor;
      margin-right: 100px;

      @media only screen and (max-width: $mediaStepSemiMobile) {
        margin: 15px;
        margin-top: 0;
      }

      .show-more-box {
        width: 100%;
        padding: 0;
        color: $textColor;
        font-size: 28px;
        font-weight: 400;
        padding-bottom: 10px;
        line-height: 60px;


        @media only screen and (max-width: $mediaStepSemiMobile) {
          font-size: 22px;
        }

        .phone, .email {
          display: inline-block;
          padding-left: 50px;
          position: relative;
          color: $textColor;


          @media only screen and (max-width: $mediaStepSemiMobile) {
            white-space: nowrap;
          }

          &:before {
            content: "";
            background-image: url('../images/icons.png');
            background-repeat: no-repeat;
            background-position: top left;
            width: 40px;
            height: 60px;
            position: absolute;
            left: 0;
            top: 0;
            font-size: 34px;
            font-weight: bold;
            color: #C1915F;
          }
        }

        .phone {
          &:before {
            background-position: 7px 11px;
            background-image: url('../images/phone_icon_big.png');
          }
        }


        .email {
          font-size: 19px;

          &:before {
            background-position: 0 -60px;
          }
        }

        a.phone, a.email {
          &:hover {
            color: $clGold;
            text-decoration: none;
          }
        }

        .btn {
          font-size: 10px;
          padding: 5px 10px;
          line-height: 12px;
          display: inline-block;
          vertical-align: middle;
          margin-left: 25px;

          @media only screen and (max-width: $mediaStepSemiMobile) {
            font-size: 16px;
            padding: 6px 30px;
            line-height: 22px;
            display: inline-block;
            vertical-align: middle;
            margin-left: 0;
            width: 100%;
            min-width: 100%;
          }
        }
      }


      .top, .bottom {
        padding: 35px 50px;

        @media only screen and (max-width: $mediaStepSemiMobile) {
          padding: 30px 15px;
        }

        > .row:last-child {
          .col {
            ul {
              margin-bottom: 0;

              li {
                .show-more-box {
                  margin-bottom: 0;
                  padding-bottom: 0;
                }
              }
            }
          }
        }
      }

      .bottom {
        border-top: 1px solid $inputBorderColor;
        padding: 25px 50px;

        @media only screen and (max-width: $mediaStepSemiMobile) {
          padding: 30px 15px;
        }
      }


    }
  }


  .right-col {


  }

}