#contactModal {

  form {
    .sbm-box {
      button {
        background: $clGold;
        margin: 0 auto;
        color:#fff;
        border:0;
      }
    }

    textarea{
      height: 150px;
    }
  }

}