#favoriteModal {

  .modal-body {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row nowrap;
    align-items: stretch;
    justify-content: left;
    padding-left: 0;

    @media only screen and (max-width: $mediaStepMobile) {
      padding-right: 20px;
    }

    .labels {
      width: 260px;
      min-width: 260px;

      @media only screen and (max-width: $mediaStepMobile) {
        width: 120px;
        min-width: 120px;
      }

      table {
        margin-top: 150px;
        width: 100%;

        tr {
          &:nth-child(even) {
            background: #F8F8F8;
          }

          td {
            padding: 0;
            padding-left: 110px;
            line-height: 35px;
            height: 35px;
            max-height: 35px;
            white-space: nowrap;
            font-size: 15px;
            font-weight: bold;

            @media only screen and (max-width: $mediaStepSemiMobile) {
              padding-left: 20px;
            }
          }
        }
      }
    }

    .comparison-offers {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-flow: row nowrap;
      align-items: stretch;
      justify-content: left;
      max-width: 100%;
      overflow-x: scroll;

      /* width */
      &::-webkit-scrollbar {
        width: 2px;
        height: 2px;
      }

      /* Track */
      &::-webkit-scrollbar-track {
        width: 1px;
        background: #f8f8f8;
      }

      /* Handle */
      &::-webkit-scrollbar-thumb {
        background: $clGold;
        width: 2px;
        height: 2px;
      }

      /* Handle on hover */
      &::-webkit-scrollbar-thumb:hover {
        background: #555;
      }


      .no-offers {
        display: block;
        width: 100%;
        text-align: center;
        padding: 10px 20px 40px;
        font-size: 19px;
        color: #c3c3c3;
      }

      .box {
        flex-grow: 1;
        flex-basis: 0;
        min-width: 140px;
        max-width: 200px;

        .name {
          font-weight: bold;
          color: #575757;
          line-height: 20px;
          margin-bottom: -10px;
        }

        .thumb {
          position: relative;
          width: 140px;
          padding-top: 140px;

          a {
            content: "";
            border: 1px solid #C0C0C0;
            display: block;
            width: calc(100% - 30px);
            height: calc(100% - 30px);
            position: absolute;
            top: 15px;
            left: 15px;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center center;
          }
        }

        table {
          width: 100%;

          tr {
            width: 100%;
            background: #fff;
            font-size: 11px;

            &:nth-child(even) {
              background: #F8F8F8;
            }

            td {
              color: #575757;
              padding: 0;
              line-height: 35px;
              height: 35px;
              white-space: nowrap;
              padding-left: 30px;
              text-align: left;

              .fa {
                color: $clGold;
              }
            }
          }
        }

        .bottom {
          margin-top: 30px;
          margin-bottom: 5px;

          .btn {
            margin-bottom: 10px;
            margin-left: 5px;
            margin-right: 5px;
            white-space: nowrap;
            cursor: pointer;

            &.rmv {
              font-size: 13px;
              line-height: 15px;
              padding: 5px 10px;

              &:hover {
                color: $clGold;
              }
            }

            &:last-child {
              margin-bottom: 0;
            }
          }
        }


      }
    }

    &.empty-offer {
      padding: 0;

      .labels {
        display: none;
      }

      .comparison-offers {
        width: 100%;
        overflow: initial;
      }
    }
  }
}