.footer {
  background: #fff;
  padding: 40px 0;

  .logo-ndi{
    @media only screen and (max-width: $mediaStepSemiMobile) {
      position: absolute;
      top: 0;
      width: 150px;
      margin: 0 auto;
      left: 50%;
      display: none;
    }
  }

  p {
    color: #989898;
    font-size: 16px;
    text-transform: uppercase;
    padding-top: 60px;

    @media only screen and (max-width: $mediaStepMobile) {
      padding-top:10px;
      text-align: center;
    }
  }

  .chlebova-icon {
    position: absolute;
    top: -80px;
    right: 0;
    z-index: 2;
    width: 120px;
    height: 120px;

    @media only screen and (max-width: $mediaStepMobile) {
      width: 100px;
      height: 100px;
    }
  }
}