.gallery {

  .gallery-nav {
    padding: 0;
    background-color: #202022;
    background-image: url('../images/loc_img_header.png');
    background-position: center top;
    background-size: cover;
    min-height: 87px;
    padding-top: 100px;
    padding-bottom: 100px;
    border-bottom: 1px solid $clGold;

    @media only screen and (max-width: $mediaStepSemiMobile) {
      padding-top: 5px !important;
      padding-bottom: 5px !important;
    }

    @media only screen and (max-width: $mediaStepSemiMobile) {
      min-height: auto;
      padding: 0;
    }

    ul {
      padding: 0;
      margin: 0 auto;
      text-align: center;

      li {
        list-style: none;
        display: inline-block;
        padding: 0;
        margin: 0 auto;

        a {
          padding: 0;
          display: block;
          line-height: 43px;
          color: #fff;
          font-family: $fontHeader;
          font-size: 20px;
          text-transform: uppercase;
          margin: 0 30px;
          border-top: 1px solid transparent;
          border-bottom: 1px solid transparent;
          position: relative;
          letter-spacing: 1px;

          &:hover, &.active {
            text-decoration: none;

            &:before, &:after {
              position: absolute;
              width: calc(100% - 20px);
              height: 1px;
              background: $clGold;
              left: 10px;
              content: "";
            }

            &:before {
              top: 0;
            }

            &:after {
              bottom: 0;
            }
          }

        }

        &:first-child {
          margin-left: 0;
        }

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  .videos-cnt {
    background: #000;

    .videos {
      padding: 30px;
      position: relative;


      @media only screen and (max-width: $mediaStepSemiMobile) {
        padding-left: 60px;
        padding-right: 60px;
      }


      iframe {
        max-width: 100%;
      }


      .owl-nav {
        position: absolute;
        top: 50%;
        z-index: 4;
        max-width: 100%;
        margin: 0 auto;
        display: block;
        left: 0;
        height: 1px;
        width: 100%;


        @media only screen and (max-width: $mediaStepSemiMobile) {
          max-width: calc(100% + 120px);
          width: calc(100% + 120px);
          left: -60px;
        }


        .owl-next, .owl-prev {
          position: absolute;
          top: 0;
          font-size: 80px !important;
          line-height: 80px !important;
          background: transparent !important;
          border: 0 !important;
          height: 80px !important;
          color: #989898 !important;
          margin-top: -40px !important;

          &:hover {
            color: $clGold !important;
          }
        }

        .owl-next {
          right: 0;
        }

        .owl-prev {
          left: 0;
        }


      }

    }
  }

  .outer {
    margin: 0 auto;
    max-width: 100%;
    position: relative;
    padding-bottom: 160px;

    @media only screen and (max-width: $mediaStepMobile) {

    }

    @media only screen and (max-width: $mediaStepMobile) {
      padding-bottom: 0;
    }

    #big {
      $maxH: 600px;
      $maxHMobile: 280px;


      position: relative;
      max-height: $maxH;


      @media only screen and (max-width: $mediaStepSemiMobile) {
        max-height: $maxHMobile;
      }

      .owl-stage-outer {
        max-height: $maxH;
        height: 100%;

        @media only screen and (max-width: $mediaStepSemiMobile) {
          max-height: $maxHMobile;
        }
      }

      .item {
        background: #000;
        margin: 0;
        text-align: center;
        max-height: $maxH;

        @media only screen and (max-width: $mediaStepSemiMobile) {
          max-height: $maxHMobile;
        }

        img {
          max-height: $maxH;
          width: auto;
          margin: 0 auto;

          @media only screen and (max-width: $mediaStepSemiMobile) {
            max-height: $maxHMobile;
          }
        }

        &:before {
          background: rgba(255, 255, 255, 0.65);
          content: "";
          position: absolute;
          width: 100%;
          left: 0;
          bottom: 0;
          z-index: 1;
          height: 180px;
          display: none;
        }
      }

    }


    .owl-nav {
      position: absolute;
      bottom: -40px;
      z-index: 4;
      max-width: 100%;
      margin: 0 auto;
      display: block;
      left: 50%;
      height: 1px;

      @media only screen and (max-width: $mediaStepMobile) {
        display: none;
      }


      @media (min-width: 1200px) {
        max-width: 1080px;
        width: 1080px;
        margin-left: -557px;
      }


      .owl-next, .owl-prev {
        font-size: 80px !important;
        line-height: 80px !important;
        background: transparent !important;
        border: 0 !important;
        height: 80px !important;
        color: #989898 !important;
        margin-top: -40px !important;

        &:hover {
          color: $clGold !important;
        }
      }


    }

    .thumbs-bottom {
      padding-top: 0;
      padding-bottom: 0;
      margin-top: -100px;
      z-index: 4;

      @media only screen and (max-width: $mediaStepMobile) {
        margin-top: -50px;
      }

      @media only screen and (max-width: $mediaStepSemiMobile) {
        display: none;
      }


      .owl-nav {
        display: none;
      }

      > .container {
        padding-left: 100px;
        padding-right: 100px;
        max-height: 160px;
      }


      #thumbs {
        padding-top: 30px;

        .item {
          padding: 30px;
          padding-bottom: 0;
          margin: 2px;
          color: #FFF;
          text-align: center;
          cursor: pointer;

          @media only screen and (max-width: $mediaStepMobile) {
            padding: 10px;
          }

          .box {
            display: block;
            width: 100%;
            padding-top: 100%;
            border: 3px solid #fff;
            background-repeat: no-repeat;
            background-size: cover;
          }
        }
      }

      #thumbs .current .item {
        padding: 0;
        margin-top: 0px;
      }
    }

  }


  .owl-theme .owl-nav [class*='owl-'] {
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
  }

  .owl-theme .owl-nav [class*='owl-'].disabled:hover {
    background-color: #D6D6D6;
  }

  #big.owl-theme {
    position: relative;
  }

  #big.owl-theme .owl-next, #big.owl-theme .owl-prev {
    background: #333;
    width: 22px;
    line-height: 40px;
    height: 40px;
    margin-top: -20px;
    position: absolute;
    text-align: center;
    top: 50%;
  }

  #big.owl-theme .owl-prev {
    left: 10px;
  }

  #big.owl-theme .owl-next {
    right: 10px;
  }

  #thumbs.owl-theme .owl-next, #thumbs.owl-theme .owl-prev {
    background: #333;
  }
}
