.localization-map {

  .map-cnt {
    padding: 0;

    @media only screen and (max-width: $mediaStepSemiMobile) {
      min-height: 300px;
    }

    #map {
      position: absolute;
      width: 100%;
      height: 100%;
      background: #F4F0EC;

      @media only screen and (max-width: $mediaStepSemiMobile) {
        min-height: 300px;
      }
    }

  }

  .map-navi {
    background: #19171B;
    padding: 70px 40px;
    min-height: 100%;

    @media only screen and (max-width: $mediaStepSemiMobile) {
      padding:30px;
    }

    h2 {
      padding: 0;
      margin: 0 auto;
      font-size: 24px;
      color: #989898;
      padding-bottom: 25px;
    }

    ul {
      li {
        padding: 13px 0;

        button {
          display: block;
          padding: 0;
          padding-left: 66px;
          color: #fff;
          background: none;
          border: 0;
          margin: 0 auto;
          font-size: 19px;
          line-height: 30px;
          text-align: left;
          margin-left: 0;
          position: relative;
          width: 100%;

          &:before {
            width: 40px;
            height: 30px;
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            background-repeat: no-repeat;
            background-image: url("../images/map-navi-icons.png");
            background-position: 0 0;
          }


          &.active {
            color: $clGold;
          }

        }

        &:first-child {
          padding-top: 0;
        }

        &:last-child {
          padding-bottom: 0;
        }


        &[data-type="shop"] {
          button:before {
            background-position: 0 0;
          }
        }

        &[data-type="hotel"] {
          button:before {
            background-position: 0 -56px;
          }
        }

        &[data-type="school"] {
          button:before {
            background-position: 0 -111px;
          }
        }

        &[data-type="sport"] {
          button:before {
            background-position: 0 -166px;
          }
        }

        &[data-type="museum"] {
          button:before {
            background-position: 0 -219px;
          }
        }


        &[data-type="culture"] {
          button:before {
            background-position: 0 -270px;
          }
        }
      }
    }
  }
}