#mediaModal, #newsModal {
  .modal-body {
    padding-top:30px;
    max-height: 500px;
    overflow-y: scroll;
    padding-left: 0;
    padding-right: 20px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 80px;

    /* width */
    &::-webkit-scrollbar {
      width: 3px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      width: 1px;
      background: #D6D6D6;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: $clGold;
      width:3px;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: #555;
    }


    .media-post {
      margin-bottom: 50px;
      text-align: center;

      &:last-child {
        margin-bottom: 0;
      }

      .thumb {
        margin: 0 auto;
        max-width: 260px;

        &.logo{
          margin-bottom:-20px;
          margin-top:20px;
        }
      }

      .que {
        padding: 40px;
        padding-bottom:30px;
        text-align: left;

        .alignleft {
          float: left;
          margin: 5px 20px 20px 0;
        }

        .alignright {
          float:right;
          margin: 5px 0 20px 20px;
        }

      }

      .read-more {
        margin: 0 auto;
        width: 170px;
        letter-spacing:2px;
      }
    }
  }
}


#mediaModal{
  .modal-header{
    padding-right: 80px;
  }
}

#newsModal{
  @media only screen and (max-width: $mediaStepSemiMobile) {
    padding-right:0 !important;
  }
  .modal-body {
    overflow-y: initial;
    max-height: none;

    @media only screen and (max-width: $mediaStepSemiMobile) {
      margin:30px;
      padding:0;
    }
  }
}