#newsletterModal {

  .modal-body {

    .box-w-input {
      input.number {
        display: block;
        width: 100%;
        line-height: 24px;
        text-align: center;
        padding: 15px 20px;
        background: #EFEFEF;
        border: 1px solid #E1E1E1;
        margin-bottom: 20px;
      }
    }

    .btn.gold{
      margin:0 auto;
      margin-top:20px;
      padding:10px 20px;
    }


    .checkbox-box {
      font-size: 12px;
      color: #797979;
      font-weight: 400;
      position: relative;
      padding-left: 40px;

      p, a, button {
        font-size: 12px;
        color: #797979;
      }

      a, button {
        font-weight: bold;
        padding: 0;
        margin: 0;
      }

      span {
        &:hover {
          cursor: pointer;
          color: $clGold;
        }
      }

      .checkmark {
        width: 30px;
        height: 30px;
        border: 1px solid #E1E1E1;
        background: #F4F4F4;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;

        &:before {
          font-family: FontAwesome;
          font-weight: 400;
          content: "\f00c";
          position: absolute;
          font-size: 19px;
          top: 1px;
          left: 6px;
          display: none;
          color: $clGold;
        }
      }


      input {
        position: absolute;
        left: 0;
        z-index: 0;
        opacity: 0;

        &:checked ~ .checkmark {
          &:before {
            display: block;
          }
        }
      }
    }

  }
}