.right-contact-menu {
  position: fixed;
  top: 250px;
  right: 0;
  width: 60px;
  z-index: 3;

  @media only screen and (max-width: $mediaStepMobile) {
    top:100px;
    display: none;
  }

  li {
    padding: 0;
    margin: 0 auto;
  }

  button, a {
    background: $clGold;
    border-radius: 0;
    border: 1px solid #9D7142;
    text-align: center;
    line-height: 60px;
    height: 60px;
    width: 60px;
    color: #fff;

    &.phone{
      background-image: url("../images/phone-icon.png");
      background-repeat: no-repeat;
      background-position: center center;
    }
  }
}