.section-points {
  background: #0A141C;
  position: relative;

  .text {
    $textWidth: 1140px;
    color: #fff;
    padding-top: 30px;
    padding-bottom: 30px;
    position: absolute;
    margin: 0 auto;
    width: $textWidth;
    left: 50%;
    margin-left: -570px;
    top: 140px;
    z-index: 2;

    @media only screen and (max-width: $mediaStepTablet) {
      width: 800px;
      margin-left: -400px;
      top: 20px;
    }

    @media only screen and (max-width: $mediaStepSemiMobile) {
      position: relative;
      margin: 0 auto;
      max-width: 100%;
      left: auto;
      top: auto;
      padding: 30px;
    }


    .subtitle {
      &:after {
        left: 50%;
        margin-left: -50px;
      }
    }

    p {
      font-size: 19px;
      max-width: 90%;
      margin: 0 auto;

      @media only screen and (max-width: $mediaStepSemiMobile) {
        font-size: 16px;
      }
    }

    .read-more {
      margin: 0 auto;
      margin-top: 40px;
      letter-spacing: 2px;
      padding: 20px 40px;
    }
  }

  .points-img {
    max-width: 100%;
    position: relative;
    overflow: hidden;

    img {
      max-width: 100%;
    }

    .point-cnt {
      position: absolute;

      &.p1 {
        top: 40%;
        left: 50%;
      }

      .point {
        position: absolute;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 15px solid $clGold;
        top: 0;
        left: 0;
        background: #fff;
        cursor: pointer;
        -webkit-transition: all .2s;
        transition: all .2s;
        z-index: 2;

        &:hover, &.active {
          background: $clGold;
          border-color: #fff;
          opacity: .9;
        }

        &.zindex-top {
          z-index: 3;
        }
      }

      .cnt {
        width: 500px;
        background: #141414;
        top: 23px;
        position: absolute;
        z-index: 0;
        left: 23px;
        padding: 30px;
        color: #D7D7D7;
        display: block;
        -webkit-transition: all .2s;
        transition: all .2s;
        opacity: 0;
        visibility: hidden;
        height: 1px;
        overflow: hidden;

        &.right-cnt {
          left: auto;
          right: -23px;

          @media only screen and (max-width: $mediaStepSemiMobile) {
            right: auto;
            left: auto;
          }
        }

        &.active {
          opacity: 1;
          visibility: visible;
          height: 240px;
          z-index: 2;

          @media only screen and (max-width: $mediaStepSemiMobile) {
            position: fixed;
            top: 0;
            left: 0;
            margin: 0 auto;
            z-index: 9999;
            -webkit-transition: none;
            transition: none;
            height: 100%;
            padding: 30px;
            max-width: 100%;
            width: 100%;
          }


        }

        .time {
          position: absolute;
          top: 10px;
          right: 30px;

          @media only screen and (max-width: $mediaStepSemiMobile) {
            display: block;
            position: relative;
            margin: 0 auto;
            left: auto;
            right: auto;
            margin-bottom: 20px;
            text-align: right;
          }

          .label {
            color: #717171;
            font-size: 11px;
            display: block;
          }

          .min {
            display: block;
            color: $clGold;
            font-size: 30px;
            font-weight: bold;
            line-height: 35px;
            font-family: $fontHeader;
          }
        }

        .title {
          font-size: 19px;
          padding-bottom: 25px;
        }

        p {
          font-size: 14px;
          line-height: 21px;
          font-weight: 400;
        }
      }
    }
  }
}