.top-section {
  border-bottom: 1px solid $clGold;
  height: 100%;
  max-height: 800px;
  background-image: url('../images/video-bg.png');
  background-size: cover;
  background-position: center center;

  @media only screen and (max-width: $mediaStepSemiMobile) {
    min-height: 500px;
    background-image: url('../images/image-poster.png');
  }

  .video {
    background: #000;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

    @media only screen and (max-width: $mediaStepSemiMobile) {
      display: none;
    }

    video {
      width: 100%;
      min-height: 100%;
      margin:0 auto;
    }

  }


  .logo-large {
    margin: 0 auto;
    text-align: center;
    width: 700px;
    margin-left: -350px;
    left: 50%;
    position: absolute;
    top: 200px;
    z-index: 1;
    max-width: 100%;

    @media only screen and (max-width: $mediaStepSemiMobile) {
      margin: 0 auto;
      left: auto;
      right: auto;
      top: 160px;
    }


    img {
      max-width: 100%;
    }
  }


}