.two-cols {

  .left-col, .right-col {
    padding: 60px 100px;

    @media only screen and (max-width: $mediaStepSemiMobile) {
      padding: 30px;
    }

    // with background image
    &.w-df-bg-1 {
      background-image: url('../images/two-cols-bg1.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
    }

    // with image
    &.w-bg {
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      min-height: 350px;

      @media only screen and (max-width: $mediaStepSemiMobile) {
        min-height: 250px;
      }
    }


    article {
      color: #1A181B;

      p {
        line-height: 26px;
        font-size: 19px;
        padding: 13px 0;
        margin: 0 auto;


        @media only screen and (max-width: $mediaStepSemiMobile) {
          font-size: 16px;
        }
      }

      a {
        &.read-more {
          margin-top: 40px;

          @media only screen and (max-width: $mediaStepSemiMobile) {
            margin-top: 20px;
          }
        }
      }

      &.w-center {
        text-align: center;

        .sec-subtitle:after {
          left: 50%;
          margin-left: -50px;
        }
      }

    }

  }
}