/**  main fonts **/
$fontMain: 'PT Sans', sans-serif;
$fontHeader: 'Playfair Display', serif;

/** media steps **/
$mediaStepLgTablet: 1300px;
$mediaStepTablet: 1200px;
$mediaStepMobile: 992px;
$mediaStepSemiMobile: 768px;
$mediaStepSmallMobile: 480px;

@media only screen and (max-width: $mediaStepSemiMobile) {
}


/* colors */
$clGold: #C1915F;

body {
  font-family: $fontMain;
}

* {
  outline: none !important;

  &:focus, &:active, &:hover {
    outline: none !important;
  }
}

section {

  &.w-cover-bg {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }

  &.bg-w-title {
    padding: 150px 30px;

    @media only screen and (max-width: $mediaStepSemiMobile) {
      padding: 30px;
      min-height: auto;
    }

    .title {
      font-size: 36px;
      font-family: $fontHeader;
      font-weight: bold;
      letter-spacing: 4px;

      @media only screen and (max-width: $mediaStepSemiMobile) {
        font-size: 30px;
      }
    }

    .subtitle {
      font-size: 20px;
      color: #BCBCBC;
      font-weight: 400;

      @media only screen and (max-width: $mediaStepSemiMobile) {
        font-size: 18px;
      }
    }
  }

  &.w-white-text {
    color: #fff;
    background-color: #000;
    border-bottom: 1px solid $clGold;
  }

  &.small-w-text {
    padding-top: 50px;
    padding-bottom: 30px;

    .icon {
      padding-bottom: 20px;
    }

    .title {
      color: $clGold;
      font-weight: bold;
      font-size: 24px;
    }

    .subtitle {
      font-size: 19px;
      color: #1A181B;

    }
  }
}


a, button {

  &.b-border, &.gold {
    box-shadow: none;
    background: none;
    border-radius: 0;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    padding: 20px 50px;
    display: block;
    max-width: 300px;
    text-align: center;
    -webkit-transition: all .2s;
    transition: all .2s;

    &:hover {
      text-decoration: none;
    }

    &.small {
      font-size: 13px;
      line-height: 15px;
      padding: 5px 10px;
    }

    &.medium {
      padding: 10px 30px;
    }
  }

  &.b-border {
    border: 1px solid #000;
    color: #000000;

    &:hover {
      border-color: $clGold;
      color: $clGold;
    }
  }

  &.nowrap {
    white-space: nowrap;
  }

  &.gold {
    background: $clGold;
    color: #fff;
    border: 1px solid #9D7142;

    &:hover {
      color: #fff;
    }
  }

}

a {
  color: $clGold;
}

.first-w-fixed-menu {
  margin-top: 120px;
}

/** section titles **/

.sec-title {
  font-size: 36px;
  text-transform: uppercase;
  font-weight: bold;
  font-family: $fontHeader;
  letter-spacing: 4px;

  @media only screen and (max-width: $mediaStepSemiMobile) {
    font-size: 30px;
  }

  span {
    color: $clGold;
  }
}

.sec-subtitle {
  font-size: 20px;
  color: #989898;
  position: relative;
  padding-bottom: 25px;
  margin-bottom: 15px;

  @media only screen and (max-width: $mediaStepSemiMobile) {
    font-size: 22px;
  }


  &:after {
    content: "";
    background: $clGold;
    bottom: 0;
    left: 0;
    width: 100px;
    height: 3px;
    display: block;
    position: absolute;
  }
}

.comparison-top-title {
  margin: 0 auto;
  max-width: 600px;

  @media only screen and (max-width: $mediaStepSemiMobile) {
    max-width: 100%;
    overflow: hidden;

    [class*='col-'] {
      padding: 0;
    }

  }

  .title {
    font-size: 36px;
    color: #1A181B;
    font-family: $fontHeader;
    font-weight: bold;
    letter-spacing: 4px;

    @media only screen and (max-width: $mediaStepSemiMobile) {
      font-size: 30px;
    }

    @media only screen and (max-width: $mediaStepSmallMobile) {
      font-size: 26px;
    }

    span {
      color: $clGold;
    }
  }

  .subtitle {
    font-size: 20px;
    color: #989898;

    @media only screen and (max-width: $mediaStepSemiMobile) {
      font-size: 18px;
    }

    @media only screen and (max-width: $mediaStepSmallMobile) {
      font-size: 16px;
    }
  }

  .icon-vs {
    height: 100px;
    width: 2px;
    background: $clGold;
    display: block;
    transform: rotate(30deg);

    @media only screen and (max-width: $mediaStepSemiMobile) {
      position: absolute;
      top: -6px;
      left: -5px;
    }
  }
}

.modal-dft {

  .modal-content {
    border-radius: 0;
    border: 0;

    .modal-header {
      position: relative;
      height: auto;
      margin: 0 auto;
      width: 100%;
      border: 0;
      min-height: 43px;
      text-align: center;
      padding: 20px 50px;
      font-size: 19px;
      font-family: $fontHeader;

      .title {
        position: relative;
        padding-bottom: 20px;
        margin-bottom: 10px;
        display: block;
        width: 100%;

        &:after {
          content: "";
          background: $clGold;
          bottom: 0;
          left: 50%;
          width: 100px;
          margin-left: -50px;
          height: 3px;
          display: block;
          position: absolute;
        }
      }

      button.close {
        position: absolute;
        right: 0;
        top: 0;
        width: 43px;
        height: 43px;
        display: block;
        margin: 0 auto;
        line-height: 43px;
        padding: 0;
        text-align: center;
        background: #000;
        color: $clGold;
        opacity: 1;
        text-shadow: none;
        font-weight: bold;

        &:hover {
          background: $clGold;
          color: #000;
        }
      }
    }

    .modal-body {
      padding: 0 60px 30px 60px;
    }
  }
}

form.contact {
  $inputBorderColor: #D3D3D3;
  $inputBackgroundColor: #F3F3F3;
  $textColor: #1A181B;

  .box {
    padding-bottom: 20px;

    input, textarea {
      width: 100%;
      background: $inputBackgroundColor;
      padding: 12px 24px;
      color: #797979;
      font-size: 16px;
      font-weight: 400;
      border: 1px solid $inputBorderColor;
      height: auto;
      border-radius: 0;
    }
  }

  div.wpcf7-validation-errors, div.wpcf7-acceptance-missing {
    width: 100%;
    background: $clGold;
    border: 0;
    color: #fff;
    text-align: center;
    margin: 0 auto;
  }

  .wpcf7-not-valid-tip {
    font-size: 12px;
    font-weight: normal;
    display: block;
    position: relative;
    width: 100%;
    background: $clGold;
    color: #fff;
    padding: 5px;
    line-height: 12px;
  }

  .checkbox-box {
    font-size: 12px;
    color: #797979;
    font-weight: 400;
    position: relative;

    label {
      padding-left: 40px;

      @media only screen and (max-width: $mediaStepSemiMobile) {
        padding-left: 0;

        > span.wpcf7-form-control-wrap {
          display: inline-block;
          padding-right: 5px;
        }
      }
    }

    p, a, button {
      font-size: 12px;
      color: #797979;
    }

    a, button {
      font-weight: bold;
      padding: 0;
      margin: 0;
    }

    span {
      &:hover {
        cursor: pointer;
        color: $clGold;
      }
    }

    .wpcf7-list-item {
      width: 30px;
      height: 30px;
      border: 1px solid $inputBorderColor;
      background: #F4F4F4;
      display: block;
      position: absolute;
      top: 0;
      left: -50px;
      z-index: 2;

      @media only screen and (max-width: $mediaStepSemiMobile) {
        position: relative;
        left: auto;
        top: auto;
        background: none;
        height: auto;
        width: auto;
        border: none;
      }

      input:before {
        font-family: FontAwesome;
        font-weight: 400;
        content: "\f00c";
        position: absolute;
        font-size: 19px;
        top: 1px;
        left: 6px;
        display: none;
        color: $clGold;
        width: 100%;

        @media only screen and (max-width: $mediaStepSemiMobile) {
          display: none;
        }
      }
    }

    input {
      position: absolute;
      left: 0;
      z-index: 0;
      opacity: 1;
      -webkit-appearance: none;

      @media only screen and (max-width: $mediaStepSemiMobile) {
        position: relative;
        left: auto;
        -webkit-appearance: checkbox;
        display: inline-block;
      }

      &:checked ~ .checkmark {
        &:before {
          display: block;
          @media only screen and (max-width: $mediaStepSemiMobile) {
            display: none;
          }
        }
      }

      &:checked:before {
        display: block;
        @media only screen and (max-width: $mediaStepSemiMobile) {
          display: none;
        }
      }
    }
  }

  .sbm-box {
    padding-top: 20px;

    input.btn {
      box-shadow: none;
      background: none;
      border-radius: 0;
      text-transform: uppercase;
      font-size: 18px;
      font-weight: bold;
      padding: 20px 50px;
      display: block;
      max-width: 300px;
      text-align: center;
      -webkit-transition: all .2s;
      transition: all .2s;

      border: 1px solid #000;
      color: #000000;
    }
  }
}


.que {
  position: relative;
  font-style: italic;
  font-size: 17px;
  padding: 30px 70px;

  @media only screen and (max-width: $mediaStepSemiMobile) {
    padding: 40px;
  }

  &:before, &:after {
    content: "";
    background-image: url("../images/quote-icon.png");
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 40px;
    height: 30px;
    position: absolute;
    top: 0;
    left: 0;
    color: $clGold;
  }

  &:after {
    top: auto;
    left: auto;
    right: 0;
    bottom: 0;
  }

  .author {
    color: #989898;
    font-size: 12px;
    display: block;
    position: absolute;
    bottom: 0;
  }
}

@keyframes pulse {
  from {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  to {
    transform: scale(1);
  }
}

.fe-pulse {
  animation-name: pulse;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

.modal-lg {
  max-width: 1000px;
}

.ui-tooltip {
  background: rgba(0, 0, 0, 0.87);
  border-radius: 0;
  border: 0 !important;
  color: #fff;
  font-size: 10px;
  margin: 0 auto;
  padding: 10px;
  box-shadow: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  width:200px;
  text-align: center;

  * {
    border: 0 !important;
    box-shadow: none;
  }
}