header {

  nav.navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: transparent;
    padding: 0;

    .navbar-toggler {
      position: absolute;
      z-index: 2;
      background: transparent;
      top: 10px;
      right: 10px;
      border-radius: 0;
      width: 60px;
      height: 40px;

      .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(193,145,95, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
      }

      &:not(.collapsed) {
        .navbar-toggler-icon {
          height: 11px;
          background-size: 30px;
        }
      }
    }

    .nav-main {
      width: 480px;
      max-width: 480px;
      border-top: 1px;
      margin: 0 auto;
      margin-top: 90px;
      border-top: 1px solid $clGold;
      position: relative;

      @media only screen and (max-width: $mediaStepMobile) {
        position: relative;
        width: 100%;
        max-width: 100%;
        margin-top: 57px;
        background: #312c2d;
        z-index: 99999;
        padding: 20px;
        text-align: center;
        border-bottom: 1px solid #C1915F;
        margin-top: 0;
        top: 60px;

        &.collapsing {
          height: 0px;
        }
      }

    }

    .navbar-nav {
      li {
        padding: 0 10px;

        @media only screen and (max-width: $mediaStepSemiMobile) {
          padding: 0;
        }

        a {
          color: #fff;

          @media only screen and (max-width: $mediaStepSemiMobile) {
            font-size: 18px;
          }

        }


        &:first-child {
          padding-left: 0;

          a {
            padding-left: 0;
          }
        }

        &:last-child {
          padding-right: 0;

          a {
            padding-right: 0;
          }
        }
      }
    }

    .logo-left {
      position: absolute;
      top: 25px;
      left: 35px;

      @media only screen and (max-width: $mediaStepMobile) {
        display: none;
      }

      .ndi-logo {
        background-image: url('../images/ndi-logo-small.png');
        background-repeat: no-repeat;
        display: block;
        margin: 0 auto;
        width: 138px;
        height: 50px;
      }
    }

    .logo {
      $mobileWidth: 170px;
      $mobileHeight: 28px;

      width: 400px;
      text-align: center;
      position: absolute;
      top: 0;
      left: 50%;
      margin-left: -200px;
      padding-top: 20px;
      padding-bottom: 20px;

      @media only screen and (max-width: $mediaStepMobile) {
        padding-top: 15px;
        width: $mobileWidth;
        height: $mobileHeight;
        margin: 0 auto;
        left: 50%;
        margin-left: -85px;
      }

      .logo-box {
        display: block;
        width: 302px;
        height: 50px;
        background-image: url('../images/chlebova-logo.png');
        background-repeat: no-repeat;
        margin: 0 auto;

        @media only screen and (max-width: $mediaStepMobile) {
          max-width: 100%;
          width: $mobileWidth;
          height: $mobileHeight;
          background-size: 100% auto;
        }
      }
    }

    .right-menu {
      width: 280px;
      height: 50px;
      position: absolute;
      top: 25px;
      right: 0;

      @media only screen and (max-width: $mediaStepMobile) {
        top: 60px;
        right: auto;
        margin: 0 auto;
        left: 50%;
        margin-left: -140px;
      }


      &.without-lang {
        width: auto;

        ul {
          &.left {
            border-right: 0 !important;
          }
        }

        @media only screen and (max-width: $mediaStepMobile) {
          width: 170px;
          margin-left: -80px;
        }
      }

      ul {
        display: inline-block;
        line-height: 30px;
        padding: 0 15px;
        padding-top: 3px;
        margin: 0 auto;

        li {
          display: inline-block;

          a, button {
            line-height: 40px;
            color: #fff;
            text-decoration: none;

            &:hover {
              opacity: .5;
            }
          }
        }


        &.left {
          border-right: 1px solid $clGold;
          padding-right: 20px;
          margin: 0 auto;
          vertical-align: top;

          li {
            width: 42px;
            text-align: center;
            vertical-align: top;

            a, button {

              &.w-icon {
                display: block;
                width: 40px;
                height: 35px;
                position: relative;
                line-height: 35px;
                padding: 0;
                margin: 0 auto;
                background: transparent;
                border: 0;
                vertical-align: top;

                &:before {
                  content: "";
                  width: 40px;
                  height: 24px;
                  display: block;
                  position: absolute;
                  left: 0;
                  top: 0;
                  background-image: url('../images/navi-icons.png');
                  background-repeat: no-repeat;
                  background-position: 5px 4px;
                }


                &.mail {
                  &:before {
                    background-position: 5px 4px;
                  }

                  &:disabled, &.disabled{
                    opacity: .5;
                  }
                }

                &.search {
                  &:before {
                    background-position: -34px 4px;
                  }
                }

                &.star {
                  &:before {
                    background-position: -74px 4px;
                  }
                }

                span.counter {
                  position: absolute;
                  bottom: 0;
                  right: 0;
                  width: 16px;
                  height: 16px;
                  color: #fff;
                  text-align: center;
                  background: #9D0000;
                  font-size: 12px;
                  display: block;
                  padding: 0;
                  line-height: 16px;
                  border-radius: 50%;
                  font-weight: bold;
                }
              }
            }

            &:last-child {
              padding-right: 0;
              margin-right: 0;

              a {
                padding-right: 0;
                margin-right: 0;
              }
            }
          }
        }

        &.right {
          padding-left: 15px;

          li {
            position: relative;
            padding: 0 8px;


            &:after {
              content: "";
              display: block;
              width: 2px;
              height: 16px;
              background: #fff;
              vertical-align: middle;
              position: absolute;
              top: 11px;
              right: -4px;
              transform: rotate(30deg);
            }

            a {
              position: relative;
            }

            &:last-child {
              padding-right: 0;

              &:after {
                display: none;
              }
            }

          }
        }

      }


    }


    &.white-ver {
      background: #fff;
      position: fixed;
      width: 100%;
      z-index: 999;
      -webkit-box-shadow: 0px 2px 2px -1px rgba(0, 0, 0, 0.3);
      -moz-box-shadow: 0px 2px 2px -1px rgba(0, 0, 0, 0.3);
      box-shadow: 0px 2px 2px -1px rgba(0, 0, 0, 0.3);

      @media only screen and (max-width: $mediaStepMobile) {
        background: #312c2d;
        height: 120px;
        border-bottom: 1px solid $clGold;
      }

      .logo {
        .logo-box {
          background-position: 0 -50px;
        }
      }

      .navbar-toggler.collapsed {
        ~ .logo {
          .logo-box {
            @media only screen and (max-width: $mediaStepMobile) {
              background-position: 0 0;
            }
          }
        }
      }

      .navbar-toggler:not(.collapsed) {
        ~ .logo {
          .logo-box {
            @media only screen and (max-width: $mediaStepMobile) {
              background-position: 0 0;
            }
          }
        }
      }


      .logo-left {
        .ndi-logo {
          background-position: 0 -50px;
        }
      }

      .nav-main {
        background: #F1F1F1;
        width: 100%;
        max-width: 100%;

        @media only screen and (max-width: $mediaStepMobile) {
          background: #312c2d;
          z-index: 9999999;
          top: 60px;
          position: absolute;
          margin-top: 0;
        }
      }

      .navbar-nav {
        li {
          a {
            color: #000;

            @media only screen and (max-width: $mediaStepMobile) {
              color: #fff;
            }
          }

          &.active, &:hover {
            a {
              color: $clGold;
            }
          }
        }
      }

      .right-menu {

        ul {
          &.left {
            li {
              a, button {

                &.w-icon {
                  &.mail {
                    &:before {
                      background-position: 5px -16px;
                      @media only screen and (max-width: $mediaStepMobile) {
                        background-position: 5px 4px;
                      }
                    }
                  }

                  &.search {
                    &:before {
                      background-position: -34px -16px;
                      @media only screen and (max-width: $mediaStepMobile) {
                        background-position: -34px 4px;
                      }
                    }
                  }

                  &.star {
                    &:before {
                      background-position: -74px -16px;
                      @media only screen and (max-width: $mediaStepMobile) {
                        background-position: -74px 4px;
                      }
                    }
                  }

                }
              }
            }
          }
        }

        ul.right {
          color: #979797;

          @media only screen and (max-width: $mediaStepMobile) {
            color: #fff;
          }

          li {

            &:after {
              background: #979797;

              @media only screen and (max-width: $mediaStepMobile) {
                background: #fff;
              }
            }

            a {
              color: #979797;

              @media only screen and (max-width: $mediaStepMobile) {
                color: #fff;
              }
            }
          }
        }
      }
    }

    &.homepage-ver:not(.fixed) {

      .logo {
        display: none;
        @media only screen and (max-width: $mediaStepMobile) {
          display: block;
        }
      }

      .nav-main {
        border-top:0;
        margin-top: 25px;
        @media only screen and (max-width: $mediaStepMobile) {
          margin-top: 0px;
          border-top: 1px solid $clGold;
        }
      }
    }

  }
}