.show-search-box {
  position: absolute;
  width: 360px;
  top: 480px;
  left: 50%;
  margin-left: -180px;
  z-index: 2;
  max-width: 360px !important;
  font-size: 20px;
  letter-spacing: 2px;

  @media only screen and (max-width: $mediaStepSemiMobile) {
    top: 380px !important;
    padding: 10px;
    width: 250px;
    left: 50%;
    right: auto;
    margin-left: -125px;
    position: absolute;
    padding: 10px !important;
  }

  .icon {
    width: 28px;
    height: 27px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 8px;
    background-position: 0 0;
    background-image: url('../images/lupa_icon_big.png');
    background-repeat: no-repeat;
  }
}

.search-box {
  background: rgba(0, 0, 0, 0.71);
  position: absolute;
  width: 1000px;
  max-width: 1000px;
  top: 470px;
  left: 50%;
  margin-left: -500px;
  padding: 25px 45px 40px 45px;
  z-index: 2;
  color: #fff;
  display: none;
  opacity: 0;
  transition: opacity 0.3s;

  @media only screen and (max-width: $mediaStepMobile) {
    width: 100%;
    margin: 0 auto;
    left: auto;
    right: auto;
    top: 0;
    height: 100%;
    padding-top: 70px;
    position: fixed;
    background: rgba(0, 0, 0, 0.90);
    z-index: 999999;
  }

  button.close {
    position: absolute;
    right: 0;
    top: 0;
    width: 43px;
    height: 43px;
    margin: 0 auto;
    line-height: 43px;
    padding: 0;
    text-align: center;
    background: $clGold;
    color: #000;
    opacity: 1;
    text-shadow: none;
    font-weight: bold;
    z-index: 999;
    display: none;

    &:hover {
      background: $clGold;
      color: #000;
    }

    @media only screen and (max-width: $mediaStepMobile) {
      display: block;
    }
  }

  &.active, &.black-ver, &.white-ver {
    display: block;
    opacity: 1;

    @media only screen and (max-width: $mediaStepSemiMobile) {
      z-index: 2;
    }
  }

  .top {
    font-size: 18px;

    label {
      margin-right: 20px;
      display: inline-block;
      position: relative;
      padding-left: 35px;
      font-size: 18px;
      cursor: pointer;

      @media only screen and (max-width: $mediaStepSemiMobile) {
        margin-bottom: 20px;
      }

      &:last-child {
        margin-right: 0;
      }

      .checkmark {
        width: 25px;
        height: 25px;
        border: 1px solid #fff;
        background: transparent;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;

        &:before {
          font-family: FontAwesome;
          font-weight: 400;
          content: "\f00c";
          position: absolute;
          font-size: 16px;
          top: -1px;
          left: 4px;
          display: none;
        }
      }


      input {
        position: absolute;
        left: 0;
        z-index: 0;
        opacity: 0;

        &:checked ~ .checkmark {
          background: $clGold;
          border-color: $clGold;

          &:before {
            display: block;
          }
        }
      }

    }
  }


  .bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;

    @media only screen and (max-width: $mediaStepMobile) {
      width: 100%;
      display: block;
    }

    .box {
      display: block;
      padding: 15px;
      width: 22%;

      @media only screen and (max-width: $mediaStepMobile) {
        width: 100%;
        display: block;
      }

      &.select-box {
        padding: 5px 10px;

        select {
          width: 100%;
        }

        button.btn.dropdown-toggle.btn-light {
          background: transparent;
          color: #fff;
          border-radius: 0;
          line-height: 60px;
          padding-top: 0;
          padding-bottom: 0;
        }

        .check-mark {
          color: $clGold;
        }

        .dropdown {
          background: transparent;
          font-size: 18px;
          color: #fff;
          height: 60px;

          .bs-placeholder.btn-light {
            background: transparent;
            border-radius: 0;
            color: #fff;
            height: 60px;
            line-height: 60px;
            vertical-align: top;
            padding-top: 0;
            padding-bottom: 0;
            padding-left: 20px;
          }
        }
      }

      &.range {
        width: 32%;
        padding-top: 0;
        padding-left: 30px;
        padding-right: 40px;

        @media only screen and (max-width: $mediaStepMobile) {
          width: 100%;
          padding-left: 15px;
          padding-right: 15px;
          padding-bottom: 30px;
        }

        .label-top {
          font-size: 18px;
          vertical-align: top;
          padding: 0;
          padding-bottom: 13px;
          padding-top: 10px;
          margin: 0;

          .fa {
            padding-left: 20px;
            padding-right: 20px;
          }
        }

        .select-area.ui-slider {
          padding: 0;
          height: 1px;
          border-radius: 0;
          border: 0;
          background: #979797;

          @media only screen and (max-width: $mediaStepMobile) {
            height: 10px;
          }

          .ui-slider-handle {
            width: 15px;
            height: 15px;
            border-radius: 50%;
            top: -8px;
            border: 0;
            background: $clGold;

            @media only screen and (max-width: $mediaStepMobile) {
              width: 22px;
              height: 22px;
              top: -6px;
            }
          }

          .ui-slider-horizontal .ui-slider-range {
            background: #fff;
          }
        }

      }

      &.sbm-btn {
        padding: 0;

        a, button {
          margin: 0 auto;
          width: 100%;
          max-width: 100%;
          padding: 10px 30px;

          .icon {
            width: 25px;
            height: 23px;
            display: inline-block;
            vertical-align: middle;
            margin-left: 2px;
            background-position: -46px 0px;
            background-image: url('../images/navi-icons.png');
            background-repeat: no-repeat;
          }
        }

      }
    }
  }


  &.black-ver, &.white-ver {
    position: relative;
    top: auto;
    left: auto;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.69);
    max-width: 100%;
    width: 100%;

    @media only screen and (max-width: $mediaStepSemiMobile) {
      button.close {
        display: none !important;
      }
    }

  }


  &.white-ver {
    background: #fff;
    color: #585858;
    padding: 20px 40px 60px 40px;

    .filter-option{
      color: #585858;
      background: transparent;
      border:1px solid #E6E6E6;
    }

    .dropdown-toggle{
      background: #EFEFEF !important;
    }

    .dropdown-toggle::after{
      color:#585858;
    }

    .top .checkmark{
      background: #EFEFEF;
      border:1px solid #E6E6E6;
    }

    .top label input:checked ~ .checkmark{
      color:#fff !important;
    }

    .select-area.ui-slider {
      background: #C7C7C7 !important;

      .ui-slider-range{
        background: #000 !important;
      }
    }


    .search-box .bottom {
      color: #000;

      .box.select-box .dropdown {
        color: #000;

      }
    }
  }

}
